/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,300;1,400;1,500&display=swap");

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0px 10px;
    background: #def7ef;
    font-family: "Work", sans-serif;
    font-weight: 600;
    position: sticky;

}

#logo{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

.about,.projects{
    padding-right: 25px;
}

.nav-links a{
    text-decoration: none;
    color: #232423;
    font-size: 0.8rem;
}

.nav-links a:hover{
    color: rgb(247, 140, 140);
}

.landing{
    margin-top: -10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.main-landingPage{
    height: 100vh;
    background: #EAF7F3;
}

.socialMedia-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-size: 4.3vh;
}

#picture{
    width: 240px;
    height: 260px;
    border-radius: 50px;
}

.landing-texts{
    text-align: center;
    padding: 10px 15px 5px 15px;
}

.button{
    padding: 15px;
    background: #DC3545;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: 30px;
}

.button a {
    text-decoration: none;
    color: white;
}